<div
  class="modal fade"
  id="editModal-<%=task.id%>"
  tabindex="-1"
  aria-labelledby="editModalLabel-<%=task.id%>"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel-<%=task.id%>">Edit Task</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="editTitle-<%=task.id%>" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="editTitle-<%=task.id%>"
            value="<%= task.title %>"
          />
        </div>
        <div class="mb-3">
          <label for="editContent-<%=task.id%>" class="form-label"
            >Content</label
          >
          <textarea class="form-control" id="editContent-<%=task.id%>" rows="3">
<%= task.content %></textarea
          >
        </div>
        <div class="mb-3">
          <label for="editDate-<%=task.id%>" class="form-label">Date</label>
          <input
            type="date"
            class="form-control"
            id="editDate-<%=task.id%>"
            value="<%= task.date %>"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="saveChanges('<%= task.id %>')"
        >
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
